@{
    ViewBag.Title = "Index";
}

<h1>Morebucks College</h1>

<div><h2>@ViewBag.Greeting, it's @ViewBag.Time and time to</h2></div>
<div><h2>Buy Your Way to a Better Education!</h2></div>
<div>It's a competitive world and Morebucks College wants you to get ahead. Recent Policy changes now</div>
<div>allow us to offer grades for money. Yes, all you need to get a 4.0 is cash!</div>
<br />
<div>
    <button type="button" onclick="parent.location='/Home/BuyNow'">Buy Now</button>
</div>
<br />
<div><a href="/Home/Customers">View our Customer List</a></div>